body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 200;
    
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}
h1{
    color: #bdc3c7;
    font-size: 2.0em;
    font-weight: 700;
}
h2{
    color: #bdc3c7;
    font-size: 2.0em;
}
h3{
    font-size: 1.8em;
}
h4{
    font-size:1.2em;
    font-weight: 700;
}
/*navbar*/
.column,
.columns {
    margin-left: 0; 
}
.header{
    width: 25vw;
}
.head{
    max-width: 400px;
    height: 100vh;
    position: absolute fixed;
    overflow: hidden;
}
.headfilter{
    max-width: 400px;
    height: 100vh;
    position: absolute;
    opacity: 0.1;
    background-color: #000;
    z-index: 2;
}
.headwidgets{
    max-width: 400px;
    height: 100vh;
    position: absolute;
    z-index: 3;
}
.avatar{
    text-align: center;
    margin: 10vh 0 0 0;
}
.avatar img{
    border-radius: 50%;
}
.nav{
    padding: 3vh 0 0 0;
    text-align: center;
}
.nav ul{
    list-style: none;
    display: inline;
}
.nav li{
    display: inline-block;
}
.nav a{
    color: #bdc3c7;
    text-transform: uppercase;
    font-size: 0.8em;
}
/*navbar end*/

/*index formating*/
.main{
    min-height: 100vh;
    height: 100%;
    padding: 0 0 0 7vw;
}
.main img{
    margin: 10vh 0 0 0;
    width: 20vw;
}
/*index formating end*/
.post{
    padding: 5vh 0 0 7vw;
}
a{
    text-decoration: none;
}
@media (max-width: 1000px) {
    h2{
        font-size: 1.2em;
    }
}
@media (max-width: 550px) {
    .head{
    max-width: 550px;
    height: 20vh;
    position: fixed;
    overflow: hidden;
}
.headfilter{
    max-width: 550px;
    height: 20vh;
    position: fixed;
    opacity: 0.3;
    background-color: #000;
    z-index: 2;
}
.headwidgets{
    max-width: 550px;
    height: 20vh;
    position: fixed;
    z-index: 3;
}
.main{
    min-height: 5vh;
    height: 100%;
    padding: 0 0 1vh 4vw;
}
.main img{
    margin: 0 0 0 0;
    width: 100vw;
    max-height: 0vh;
}
.avatar{
    text-align: left;
    margin: 3vh 0 0 10vw;
    float: left;
}
.nav{
    padding: 3vh 0 0 0;
    text-align: center;
}
.responseheadimg{
    min-width: 550px;
}
.avatar img{
    border-radius: 50%;
    max-height: 90px;
    max-width: 90px;
}
body{
    background-image: url('../images/reflection.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
}
.post{
    background-color: #fff;
}
h2{
    color: #32333d;
}
.responsivemobile{
    height: 20vh;
}
  
}